:root {
	font-family: $font_family;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	cursor: $cursor;
}

html {
	height: 100%;
}

body {
	background: $color_blay_100;
	font-family: $font_family;
	color: $color_frost_200;
	min-height: 100%;
	&.app {
		padding-left: 110px;
		padding-top: 20px;
		padding-right: 20px;
	}
	&.site {
	}
}

/* browser styles */
::selection {
	background: $color_bloo;
	color: $color_frost_300;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: $color_bloo;
	border-radius: 10px;
}

/* form & inputs */

input {
	&[type="text"],
	&[type="email"],
	&[type="password"] {
		display: block;
		width: 100%;
	}
	&:focus {
		outline: none;
	}
}

/* images */
img {
	display: block;
	max-width: 100%;
}

/* main */
.main {
	display: grid;
	padding-top: 20px;
	&__inner {
		max-width: $width_content;
		margin: 0 auto;
		width: 100%;
		height: 100%;
	}
}
