:root {
	font-family: $font_family;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
	overflow-y: hidden;
}

body {
	background: $color_blay_100;
	font-family: $font_family;
	color: $color_frost_200;
	min-height: 100%;
	//! refactor
	&.app {
		display: grid;
		grid-template-columns: auto 1fr auto;
		grid-template-rows: auto 1fr;
		height: 100vh;
		gap: 20px;
		padding: 20px;
		.header {
			grid-area: 1/2/2/4;
		}
		.sidebar {
			grid-area: 1/1/3/2;
		}
		.main {
			grid-area: 2/2/3/4;
			max-height: 100%;
			overflow-y: auto;
		}
	}
	&.site {
	}
}

/* browser styles */
::selection {
	background: $color_bloo;
	color: $color_frost_300;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: $color_bloo;
	border-radius: 10px;
}

/* form & inputs */

input {
	&[type="text"],
	&[type="email"],
	&[type="password"] {
		display: block;
		width: 100%;
	}
	&:focus {
		outline: none;
	}
}

/* images */
img {
	display: block;
	max-width: 100%;
}

/* main */
.main {
	display: grid;
	&__inner {
		height: 100%;
	}
}
