/* colors */
$color_blay_100: var(--color-blay-100, #050e18);
$color_blay_200: var(--color-blay-200, #111a24);
$color_blay_300: var(--color-blay-300, #1d252f);
$color_blay_400: var(--color-blay-400, #343b44);

$color_frost_100: var(--color-frost-100, #4a535d);
$color_frost_200: var(--color-frost-200, #a5afb8);
$color_frost_300: var(--color-frost-300, #eaf4fd);

$color_bloo: var(--color-bloo, #3090ee);
$color_candy: var(--color-candy, #e93738);
$color_grass: var(--color-grass, #459f46);
$color_carrot: var(--color-carrot, #e98a38);
$color_sunflower: var(--color-sunflower, #e9e938);

/* font */
$font_family: var(--font-family, "Poppins");

$font_weight_light: var(--font-weight-light, 300);
$font_weight_regular: var(--font-weight-regular, 400);
$font_weight_medium: var(--font-weight-medium, 500);
$font_weight_semibold: var(--font-weight-semibold, 600);
$font_weight_bold: var(--font-weight-bold, 700);

$font_size_h1: var(--font-size-h1, range(48.83, 61.04));
$font_size_h2: var(--font-size-h2, range(39.06, 48.83));
$font_size_h3: var(--font-size-h3, range(31.25, 39.06));
$font_size_h4: var(--font-size-h4, 1.953rem);
$font_size_h5: var(--font-size-h5, 1.563rem);
$font_size_h6: var(--font-size-h6, 1.25rem);
$font_size_small: var(--font-size-small, 0.8rem);

$line_height: var(--line-height, 1.5);
$line_height_heading: var(--line-height-heading, 1.2);

/* breakpoints */
$breakpoint_mobile: 320px;
$breakpoint_tablet: 768px;
$breakpoint_desktop: 1080px;

/* border radius */
$border_radius: var(--border-radius, 5px);
$border_radius_sm: var(--border-radius-sm, 10px);
$border_radius_md: var(--border-radius-md, 20px);
$border_radius_lg: var(--border-radius-lg, 30px);

/* paths */
$path_fonts: "../fonts";
