.gamecard {
	// width: 100%;
	// max-width: 150px;
	border-radius: $border_radius_md;
	aspect-ratio: 3/4;
	overflow: hidden;
	position: relative;
	&:hover {
	}
	&__image {
		height: 100%;
		width: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__link {
		background: rgba(#000, 0.3);
		position: absolute;
		z-index: 1;
		inset: 0;
	}
}
