//! Refactor
.userinfo {
	box-shadow: 0 0 5px $color_blay_100;
	border-radius: $border_radius_md;
	background: $color_blay_200;
	padding: 10px;
	display: flex;
	gap: 10px;
	margin-left: auto;
	align-items: center;
	&__avatar {
		img {
			object-fit: cover;
			width: 50px;
			height: 50px;
			border-radius: $border_radius_sm;
		}
	}
	&__details {
		padding: 0 10px;
	}
	&__name {
		font-weight: $font_weight_semibold;
		color: $color_frost_300;
	}
	&__role {
		font-size: $font_size_small;
		line-height: 1;
	}
}
