/* Abstracts */
/* colors */
/* font */
/* breakpoints */
/* border radius */
/* paths */
/* transitions */
/* Base */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family: var(--font-family, "Poppins");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  background: var(--color-blay-100, #050e18);
  font-family: var(--font-family, "Poppins");
  color: var(--color-frost-200, #a5afb8);
  min-height: 100%;
}
body.app {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  height: 100vh;
  gap: 20px;
  padding: 20px;
}
body.app .header {
  grid-area: 1/2/2/4;
}
body.app .sidebar {
  grid-area: 1/1/3/2;
}
body.app .main {
  grid-area: 2/2/3/4;
  max-height: 100%;
  overflow-y: auto;
}
/* browser styles */
::-moz-selection {
  background: var(--color-bloo, #3090ee);
  color: var(--color-frost-300, #eaf4fd);
}
::selection {
  background: var(--color-bloo, #3090ee);
  color: var(--color-frost-300, #eaf4fd);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-bloo, #3090ee);
  border-radius: 10px;
}

/* form & inputs */
input[type=text], input[type=email], input[type=password] {
  display: block;
  width: 100%;
}
input:focus {
  outline: none;
}

/* images */
img {
  display: block;
  max-width: 100%;
}

/* main */
.main {
  display: grid;
}
.main__inner {
  height: 100%;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins/poppins-v20-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins/poppins-v20-latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins/poppins-v20-latin-600.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins/poppins-v20-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* Iconsax */
@font-face {
  font-family: "iconsax";
  src: url("../fonts/iconsax/iconsax.eot?yjegnn");
  src: url("../fonts/iconsax/iconsax.eot?yjegnn#iefix") format("embedded-opentype"), url("../fonts/iconsax/iconsax.ttf?yjegnn") format("truetype"), url("../fonts/iconsax/iconsax.woff?yjegnn") format("woff"), url("../fonts/iconsax/iconsax.svg?yjegnn#iconsax") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-weight: var(--font-weight-semibold, 600);
  line-height: var(--line-height-heading, 1.2);
  color: var(--color-frost-300, #eaf4fd);
}

h1,
.h1 {
  font-size: var(--font-size-h1, clamp(3.051875rem, 2.7305592105rem + 1.6065789474vw, 3.815rem));
}

h2,
.h2 {
  font-size: var(--font-size-h2, clamp(2.44125rem, 2.1841447368rem + 1.2855263158vw, 3.051875rem));
}

h3,
.h3 {
  font-size: var(--font-size-h3, clamp(1.953125rem, 1.7475986842rem + 1.0276315789vw, 2.44125rem));
}

h4,
.h4 {
  font-size: var(--font-size-h4, 1.953rem);
}

h5,
.h5 {
  font-size: var(--font-size-h5, 1.563rem);
}

h6,
.h6 {
  font-size: var(--font-size-h6, 1.25rem);
}

small {
  font-size: var(--font-size-small, 0.8rem);
}

p,
li {
  line-height: var(--line-height, 1.5);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Components */
.gamecard {
  border-radius: var(--border-radius-md, 20px);
  aspect-ratio: 3/4;
  overflow: hidden;
  position: relative;
}
.gamecard__image {
  height: 100%;
  width: 100%;
}
.gamecard__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gamecard__link {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
  inset: 0;
}

/* Layout */
.header__inner {
  display: flex;
  align-items: center;
}
.nav__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav__item:hover:not(.nav__item--active) > .nav__link {
  background: var(--color-blay-400, #343b44);
}
.nav__item--active > .nav__link {
  background: var(--color-bloo, #3090ee);
  color: var(--color-frost-300, #eaf4fd);
}
.nav__item--bottom {
  margin-top: auto;
}
.nav__link {
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  border-radius: var(--border-radius-sm, 10px);
  background: var(--color-blay-300, #1d252f);
  color: var(--color-frost-200, #a5afb8);
  transition: var(--transition, 0.3s ease);
}

.sidebar__inner {
  background: var(--color-blay-200, #111a24);
  padding: 10px;
  height: 100%;
  border-radius: var(--border-radius-md, 20px);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}
.sidebar__logo {
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
}

.userinfo {
  border-radius: var(--border-radius-md, 20px);
  background: var(--color-blay-200, #111a24);
  padding: 10px;
  display: flex;
  gap: 10px;
  margin-left: auto;
  align-items: center;
}
.userinfo__avatar img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius-sm, 10px);
}
.userinfo__details {
  padding: 0 10px;
}
.userinfo__name {
  font-weight: var(--font-weight-semibold, 600);
  color: var(--color-frost-300, #eaf4fd);
}
.userinfo__role {
  font-size: var(--font-size-small, 0.8rem);
  line-height: 1;
}

.loader {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: var(--color-blay-100, #050e18);
  pointer-events: none;
  display: grid;
  place-content: center;
  animation: loader-fade-out 0.5s 1s forwards;
}
.loader::before {
  content: "";
  display: block;
  width: 200px;
  height: 100px;
  background: url("../images/logo-animated.svg") no-repeat center/contain;
}

@keyframes loader-fade-out {
  to {
    opacity: 0;
  }
}
.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

/* Vendor *//*# sourceMappingURL=main.css.map */